*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    padding: 20px;
}

.container{
    width: 90%;
    max-width: 280px;
    min-height: 420px;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

}


.img{
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.text-container{
    margin: 9px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.text1{
  font-weight: 700;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.text2{
    font-weight: 200;
    font-family:Georgia, 'Times New Roman', Times, serif;
    

}

@media (min-width: 325px) { 
    .container {
        width: 375px; 
        
    }
}